@model IEnumerable<InfinysBreakfastOrders.Data.Models.Order>
@{
    ViewBag.Title = "MyOrders";
}

<div class="row">
    <h2 class="col-md-4">@ViewBag.Title</h2>
</div>
<hr />
<hr />

<div class="container">
    @foreach (var order in Model)
    {
        <div class="row">
            <div class="col-md-2">
                <h4>@order.OrderDate.ToShortDateString()</h4>
            </div>
            <div class="col-md-8">
                <h4>@Html.Raw(order.OrderText)</h4>
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-info" title="Edit" value="..." onclick="location.href='@Url.Action("EditOrder", "Orders", new { id = order.Id })'" />
                <input type="button" class="btn btn-danger" title="Delete" value="X" onclick="location.href='@Url.Action("Delete", "Orders", new { id = order.Id })'" />
            </div>
        </div>
        <hr />
    }
</div>
